{% extends 'base.html' %}
{% block title %}
Edit Athlete
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-4">Edit Athlete</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
            <a href="/athletics/athlete/list/" class="btn btn-secondary mt-3">Cancel and return to Athlete List</a>
        </div>
    </div>
</div>
{% endblock %}
