{% extends 'base.html' %}
{% block title %}
Athlete Details
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-4">{{ object.first_name }} {{ object.last_name }}</h1>
            <p>Position: {{ object.position }}</p>
            <a href="/athletics/athlete/edit/{{ object.pk }}/" class="btn btn-primary">Edit Athlete</a>
            <a href="/athletics/athlete/delete/{{ object.pk }}/" class="btn btn-danger">Delete Athlete</a>
        </div>
    </div>
</div>
{% endblock %}
