{% extends 'base.html' %}
{% block title %}
Employee Edit
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mt-4">Employee Edit:</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
            <a href="/athletics/employee/list/" class="btn btn-secondary mt-3">Cancel and return to Employee List</a>
        </div>
    </div>
</div>
{% endblock %}
