{% extends 'base.html' %}
{% block title %}
Employee Details
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mt-4">{{ employee.first_name }} {{ employee.last_name }}</h2>
            <h3>Teams:</h3>
            <ul>
                {% for team in employee.teams.all %}
                    <li>{{ team.team_name }}</li>
                {% empty %}
                    <li>No teams associated</li>
                {% endfor %}
            </ul>
            <a href="/athletics/employee/edit/{{ employee.employee_id }}/" class="btn btn-primary">Edit Employee</a>
            <a href="/athletics/employee/delete/{{ employee.employee_id }}/" class="btn btn-danger">Delete Employee</a>
            <a href="/athletics/employee/list/" class="btn btn-secondary">Return to Employee List</a>
        </div>
    </div>
</div>
{% endblock %}
