{% extends 'base.html' %}
{% block title %}
Delete Athlete
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-4">Delete Athlete</h1>
            <p>Are you sure you want to delete {{ object.first_name }} {{ object.last_name }}?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <a href="/athletics/athlete/list/" class="btn btn-secondary mt-3">Cancel and return to Athlete List</a>
        </div>
    </div>
</div>
{% endblock %}
