{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>{% block title %}Default Title{% endblock %}</title>
    <!-- CSS StyleSheet -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
  <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/athletics/home">University of Utah Athletics</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/athletics/team/list/"> Team List </a></li>
          <li><a href="/athletics/employee/list/"> Employee List </a></li>
          <li><a href="/athletics/athlete/list/"> Athlete List </a></li>
          <li><a href="/athletics/event/list/"> Event List </a></li>
          <li><a href="/athletics/equipment/list/"> Equipment List </a></li>
          <li><a href="/athletics/scholarship/list/"> Scholarship List </a></li>
          <li><a href="/athletics/income/list/"> Income List </a></li>
          <li><a href="/athletics/rank/list/"> Rank List </a></li>
          <li><div class="logout-btn-container">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Logout</button>
            </form>
          </div>
          </li>
        </form>
        </ul>
        
      </div>
      
    </nav>
      
      
</header>

    
    
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; {% now "Y" %} University of Utah Athletics</p>
            <!-- Add additional footer content here -->
        </div>
    </footer>
</body>
</html>
