{% extends 'base.html' %}
{% block title %}
Add Employee
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-4">Add Employee</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
