{% extends 'base.html' %}
{% block title %}
Equipment Details
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-4">{{ object.type }}</h1>
            <p>Owner: {{ object.team }}</p>

            <p>Date purchased: {{ object.date_purchased }}</p>
            <p>Notes: {{ object.notes }}</p>
            <p>Upfront cost: {{ object.upfront_cost }}</p>
            <p>Annual cost: {{ object.annual_cost }}</p>

            <!-- Add more details as needed -->
            <a href="/athletics/equipment/edit/{{ object.pk }}/" class="btn btn-primary">Edit Equipment</a>
            <a href="/athletics/equipment/delete/{{ object.pk }}/" class="btn btn-danger">Delete Equipment</a>
            <a href="/athletics/equipment/list/" class="btn btn-secondary">Return to Equipment List</a>
        </div>
    </div>
</div>
{% endblock %}
