<!DOCTYPE html>
<html>
<head>
    <title>Event Details</title>
</head>
<body>
    <h1>Event Details</h1>
    <p>Event ID: {{ object.event_id }}</p>
    <p>Date: {{ object.date }}</p>
    <p>Income: {{ object.income }}</p>
    <p>Expenses: {{ object.expenses }}</p>
    <p>Opponent: {{ object.opponent }}</p>

    <br>

    <a href="{% url 'event-edit' object.pk %}">Edit Event</a><br>
    <a href="{% url 'event-delete' object.pk %}">Delete Event</a><br>
    <a href="{% url 'event-list' %}">Back to Event List</a>
</body>
</html>
