{% extends 'base.html' %}
{% block title %}
Event List
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-4">Event List</h1>
            <ul class="list-unstyled">
                {% for event in events %}
                    <li><a href="{% url 'event-details' event.pk %}">{{ event.team }} - {{ event.date }}</a></li>
                {% endfor %}
            </ul>
            <a href="/athletics/event/add/" class="btn btn-primary">Add Event</a>
            <a href="/athletics/home/" class="btn btn-secondary">Return Home</a>
        </div>
    </div>
</div>
{% endblock %}
