<!DOCTYPE html>

<html>
<body>
    <a href="/athletics/team/list/" >Team List</a>
    <br>
    <a href ="/athletics/employee/list/" > Employee List</a>
    <br>
    <a href = "/athletics/athlete/list/"> Athlete List</a>
    <br>
    <a href = "/athletics/event/list/"> Event List</a>
    <br>
    <a href = "/athletics/equipment/list/"> Equipment List</a>
    <br>
    <a href = "/athletics/scholarship/list/"> Scholarship List</a>
    <br>
    <a href = "/athletics/income/list/"> Income List</a>




</body>

</html>