{% extends 'base.html' %}

{% block title %}
Athletics Home Page
{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="btn-square-group">
                <div class="btn-square">
                    <a href="/athletics/team/list/">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span>Teams</span>
                    </a>
                </div>
                <div class="btn-square">
                    <a href="/athletics/athlete/list/">
                        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                        <span>Athletes</span>
                    </a>
                </div>
                <div class="btn-square">
                    <a href="/athletics/event/list/">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        <span>Events</span>
                    </a>
                </div>
                <div class="btn-square">
                    <a href="/athletics/equipment/list/">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                        <span>Equipment</span>
                    </a>
                </div>
                <div class="btn-square">
                    <a href="/athletics/scholarship/list/">
                        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                        <span>Scholarships</span>
                    </a>
                </div>
                <div class="btn-square">
                    <a href="/athletics/income/list/">
                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                        <span>Income List</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
