{% extends 'base.html' %}
{% block title %}
Delete Income
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-4">Delete Income</h1>
            <p>Are you sure you want to delete this income?</p>
            <p> Team: {{income.team}}</p>
            <p> Amount: {{income.amount}}</p>
            <p> Type: {{income.get_type_display}}</p>
            <form method="post">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <br>
            <a href="/athletics/income/list/" class="btn btn-secondary">Cancel and return to Income List</a>
        </div>
    </div>
</div>
{% endblock %}
