{% extends 'base.html' %}
{% block title %}
Scholarship Details
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-4">Scholarship awarded to {{ object.athlete }}</h1>
            <h4>Amount: {{ object.amount }}</h4>
            <h4>Type: {{ object.get_type_display }}</h4>
            <h4>Donor: {{ object.donor }}</h4>
            <h4>Date Awarded: {{ object.date_awarded }}</h4>
            <br>
            <a href="/athletics/scholarship/edit/{{ object.pk }}/" class="btn btn-primary">Edit Scholarship</a>
            <a href="/athletics/scholarship/delete/{{ object.pk }}/" class="btn btn-danger">Delete Scholarship</a>
        </div>
    </div>
</div>
{% endblock %}
