{% extends 'base.html' %}
{% block title %}
Scholarship Details
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-4">Scholarship: {{ object.athlete }}</h1>
            <p>Amount: {{ object.amount }}</p>
            <p>Type: {{ object.get_type_display }}</p>
            <p>Donor: {{ object.donor }}</p>
            <p>Date Awarded: {{ object.date_awarded }}</p>
            
            <br>
            <a href="/athletics/scholarship/edit/{{ object.pk }}/" class="btn btn-primary">Edit Scholarship</a>
            <a href="/athletics/scholarship/delete/{{ object.pk }}/" class="btn btn-danger">Delete Scholarship</a>
        </div>
    </div>
</div>
{% endblock %}
