{% extends 'base.html' %}
{% block title %}
Scholarship List
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-4">Scholarship List</h1>
            <ul class="list-unstyled">
                {% for scholarship in scholarships %}
                    <li><a href="{% url 'scholarship-details' scholarship.pk %}">{{ scholarship.athlete }} - ${{ scholarship.amount }}</a></li>
                {% endfor %}
            </ul>
            <a href="/athletics/scholarship/add/" class="btn btn-primary">Add Scholarship</a>
            <a href="/athletics/home/" class="btn btn-secondary">Return Home</a>
        </div>
    </div>
</div>
{% endblock %}
